*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    background-color: #264a83;
    padding: 8px;
    color: #c7d1e1;
    font-weight: bold;
    gap: 10px;
}

.navbar span {
    display: flex;
    align-items: center;
}

.logo {
    width: 24px;
    height: 24px;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}